html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #7256A5;
}

h1, h2, h3 {
    font-family: 'Archivo Narrow', sans-serif;
}

a {
    color: #7256A5;
}

a:hover {
    color: #7256A5;
    border-bottom-color: #7256A5;
}

.container-thin {
    display: block;
    width: 50rem;
    margin: auto;
}

@media only screen and (max-width: 991px) {
    .container-thin {
        width: 90%;
    }
}

.component-navigation {
    background-color: #ffffff;
}

.component-navigation .nav-item {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.25rem;
    padding: 0.5rem;
}

.component-navigation .nav-item a {
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
    color: #281f39;
    padding: 0;
    font-size: 1.25rem;
    display: inline-block;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
}

.component-navigation .nav-item a:hover {
    border-bottom-color: #281f39;
}

footer {
    background-color: #ffffff;
    padding: 3rem 0;
    font-family: 'Archivo Narrow', sans-serif;
    margin: 1rem 0 0;
}

footer a {
    color: #281f39;
    border-bottom: 1px solid #ffffff;
    line-height: 2rem;
}

footer a:hover {
    color: #281f39;
    text-decoration: none;
    border-bottom-color: #281f39;
}

.component-slider .slider {
    height: 60vh;
    position: relative;
    width: 100%;
    border-bottom: 1rem solid white;
}

.component-slider .slide {
    background-image: url('../images/slider/zdjecie.jpg');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: 100%;
}

.component-slider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7256a5;
    opacity: .5;
}

.component-slider .stamp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/slider/motyw.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    z-index: 100;
}

.component-slider .description {
    font-family: 'Tenor Sans', sans-serif;
    text-shadow: 1px 1px 5px #000;
    color: white;
}

.component-slider .slide .description {
    position: absolute;
    right: 5vw;
    top: 10vh;
    text-align: right;
    font-family: 'Archivo Narrow', sans-serif;
}

.component-slider .slide .description h1 {
    font-size: 3.5rem;
}

.component-slider .stamp .description {
    position: absolute;
    bottom: 10vh;
    right: 5vw;
    font-size: 2.5rem;
    text-align: right;
}

.bg-primary {
    background-color: #7256A5!important;
}

@media only screen and (min-width: 1200px) {
    .container.wider {
        max-width: 1280px;
    }
}

.goal-deck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    background-image: url('../images/ikonki_tlo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 22rem;
    width: 17rem;
    border: 0;
    color: #ffffff;
    margin: 0 1rem 1rem;
}

.goal .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11rem;
    width: 11rem;
}

.goal .icon img {
    width: 80%;
    height: 80%;
}

.goal .description {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    width: 10rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

#cele-fundacji {
    padding-top: calc(126px + 5rem);
    margin-top: calc(-126px - 5rem);
}

#cele-fundacji h2 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 3.5rem;
    color: #7256A5;
    letter-spacing: -2px;
}

@media only screen and (max-width: 991px) {
    #cele-fundacji h2 {
        font-size: 2.5rem;
    }
}

#cele-fundacji .intro {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    z-index: 200;
    position: relative;
}

@media only screen and (min-width: 992px) {
    #cele-fundacji .intro {
        margin-top: -5rem;
    }
}

#kontakt {
    background-image: url('../images/social/tlo_grafa.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    color: #7256A5;
    font-size: 1.5rem;
    line-height: 2rem;
}

#kontakt h2 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 3.5rem;
    letter-spacing: -2px;
}

#kontakt h3 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -2px;
}

#kontakt .bigger {
    font-size: 1.25rem;
}

#kontakt .text-white a {
    color: #ffffff;
}

#kontakt .text-white a:hover {
    color: #ffffff;
    border-bottom-color: #ffffff;
}

#ekonomia-spoleczna {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 2rem;
}

#ekonomia-spoleczna {
    background-image: url('../images/dzialalnosc/tlo_cale.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

#ekonomia-spoleczna h2 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 3.5rem;
    letter-spacing: -2px;
}

#ekonomia-spoleczna h3 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -2px;
}